<div class="col-lg-12 col-md-12">
  <div class="jumbotron">
    <h1 class="display-4">Student Management</h1>
    <p class="lead">This is our bootcamp course project.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>